@use "src/styles/variables"

.sidebar
  display: flex
  position: fixed
  top: variables.$header-height
  left: 0
  font-family: 'Chivo Mono'
  font-size: 16px
  padding: 16px 20px
  width: variables.$sidebar-width
  background: #000
  color: #fff
  height: calc(100vh - variables.$header-height)
  box-sizing: border-box
  overflow-y: auto
  flex-direction: column
  gap: 16px

  &-actions
    display: flex
    justify-content: center
    align-items: center
    gap: 8px

    & > *
      font-size: 14px
      padding: 4px 8px

  &-list
    display: flex
    flex-direction: column
    gap: 8px

  .sublist
    margin-left: 16px

  li
    cursor: pointer

    &.subitem
      margin-left: 8px

    &.selected:after
      content: '✓'
      margin-left: 4px

@media (max-width: variables.$md)
  .sidebar
    display: none

    &.opened
      display: flex
      width: 100vw

    &-list
      gap: 12px

    li
      font-size: 18px
